<% include ../partials/header %>

<div class="container" style="text-align: center">
<h1>This is the Login Page</h1>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" autofocus>
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
  </form>
</div>

<% include ../partials/footer %>